<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="dr-container" autosize>
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <a mat-list-item>List Item</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="page-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, unde.
      Nulla ipsum quaerat molestiae amet, fugiat laboriosam aut odio nihil sed,
      suscipit repellendus facere veritatis quae laborum labore id provident
      repellat nostrum porro non dolores alias enim sapiente. Delectus, dolores!
      Dolore aut ad vel, ut, quo hic, doloremque illo nesciunt commodi voluptas
      fugit. Quos dolor maxime at pariatur non, perferendis inventore, aliquam
      magnam delectus commodi ullam id tempora. Hic unde distinctio
      exercitationem esse est iure similique! Culpa, enim molestias earum non
      voluptatibus et nesciunt neque doloremque voluptate fugit commodi
      officiis. Nulla earum laudantium autem natus consequuntur, ex itaque
      impedit odio.
    </p>
  </div>
</mat-drawer-container>
