<p>
  nav-bar-submenus works!
</p>

<nav>
  <ul class="nav">
    <li>
      <a href="#">Home</a>
      <ul>
        <li><a href="#">Page 1</a></li>
      </ul>
    </li>
    <li>
      <a href="#">About</a>
      <ul>
        <li><a href="#">item</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Agents</a>
      <ul>
        <li><a href="#">Agent Listing</a></li>
        <li>
          <a href="#">Agent Detail</a>
          <ul>
            <li><a href="#">Add</a></li>
            <li><a href="#">Edit</a></li>
            <li><a href="#">Delete</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<i>Akhilesh</i>
